<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/hello/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/hello/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/hello/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/hello/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/hello/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/hello/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/static/hello/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Plant Manager
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/washington/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/washington/user/">
                        <i class="pe-7s-user"></i>
                        <p>Analysis Control</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/washington/table/">
                        <i class="pe-7s-note2"></i>
                        <p>Material Properties</p>
                    </a>
                </li>
                <li>
                    <a href="/washington/typography/">
                        <i class="pe-7s-news-paper"></i>
                        <p>Hot Tap Geometry</p>
                    </a>
                </li>
                <li>
                    <a href="/washington/icons/">
                        <i class="pe-7s-science"></i>
                        <p>Welding Parameters</p>
                    </a>
                </li>
                <li>
                    <a href="/washington/maps/">
                        <i class="pe-7s-map-marker"></i>
                        <p>Process and Ambient Conditions</p>
                    </a>
                </li>
                <li>
                    <a href="/washington/notifications/">
                        <i class="pe-7s-bell"></i>
                        <p>Film Coefficients</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="/washington/upgrade/">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Material Properties</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    <ul class="nav nav-tabs">
    <li class="active"><a href="#analysis-tab" data-toggle="tab"><strong>Analysis Control</strong> <i class="fa"></i></a></li>
    <li><a href="#material-tab" data-toggle="tab"><strong>Material Properties</strong> <i class="fa"></i></a></li>
    <li><a href="#hottap-tab" data-toggle="tab"><strong>Hot Tap Geometry</strong> <i class="fa"></i></a></li>
    <li><a href="#welding-tab" data-toggle="tab"><strong>Welding Parameters</strong> <i class="fa"></i></a></li>
    <li><a href="#process-tab" data-toggle="tab"><strong>Process and Ambient Conditions</strong> <i class="fa"></i></a></li>
    <li><a href="#fluid-tab" data-toggle="tab"><strong>Fluid Property Definition</strong> <i class="fa"></i></a></li>
</ul>

<form id="accountForm" method="post" class="form-horizontal">
    <div class="tab-content">
        <div class="tab-pane active" id="analysis-tab">
            <div class="form-group">
            <h2><em>Analysis Options</em></h2>
            <p>
            </p>
                <label class="col-xs-3 control-label">Metric Flag</label>
                <div class="col-xs-5">
                 <select class="form-control" id="analysis-tab" name="metric-flag">
                    	<option selected>NO</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-3 control-label">Film coefficient source</label>
                <div class="col-xs-5">
                  <select class="form-control" id="analysis-tab" name="film-coefficient">
                    	<option selected>CALC | Calculated from input fluid and process conditions </option>
                    	<option>         USER | User specified film coefficients  </option>
                    </select>
           		</div>
            </div>
            
              <div class="form-group">
                <label class="col-xs-3 control-label">Generate plots</label>
                <div class="col-xs-5">
                  <select class="form-control" id="analysis-tab" name="generate-plots">
                    	<option selected>NO </option>
                    	<option>         YES </option>
                    </select>
           		</div>
            </div>
            
             <div class="form-group">
                <label class="col-xs-3 control-label">Advanced settings</label>
                <div class="col-xs-5">
                  <select class="form-control" id="analysis-tab" name="advanced-settings">
                    	<option selected>NO </option>
                    	<option>         YES </option>
                    </select>
           		</div>
            </div>
        </div> 
                <div class="tab-pane" id="material-tab">
        		<div class="form-group">
        		 <h2> <em>Material Options</em></h2>
        		 <p>
        		 </p>
                <label class="col-xs-3 control-label">Material property source</label>
                <div class="col-xs-5">
                    <select class="form-control" id="material-tab" name="material-properties">
                    	<option selected>General | General material groups</option>
                    	<option>         Database| Properties derived from a material specification </option>
                    	<option>		 User	 | User specified material properties</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Run pipe material</label>
                <div class="col-xs-5">
                  <select class="form-control" id="material-tab" name="material-category">
                    	<option selected>CS | Carbon steel</option>
                    	<option>         SS | AISI Type 304 stainless steel</option>
                    </select>
                </div>
          </div>
           <div class="form-group">
                <label class="col-xs-3 control-label">Sleeve material</label>
                <div class="col-xs-5">
                  <select class="form-control" id="material-tab" name="material-category">
                    	<option selected>CS | Carbon steel</option>
                    	<option> 		 SS | AISI Type 304 stainless steel</option>
                    </select>
                </div>
          </div>
          <div class="form-group">
        		 <h2> <em>Run Pipe Carbon Equivalent</em></h2>
        		 <p>  
        		 </p>
                <label class="col-xs-3 control-label">Carbon equivalent basis</label>
                <div class="col-xs-5">
                    <select class="form-control" id="material-tab" name="carbon-properties">
                    	<option selected>Specify | Specify the Carbon Equivalent</option>
                    	<option>         Element | Calculate the Carbon Equivalent </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Carbon equivalent</label>
                <div class="col-xs-5">
                    <input type="text" value="0.4" class="form-control" name="carbon" />
                </div>
            </div>
            <div class="form-group">
        		 <h2><em>Sleeve Carbon Equivalent</em></h2>
        		 <p>  
        		 </p>
                <label class="col-xs-3 control-label">Carbon equivalent basis</label>
                <div class="col-xs-5">
                    <select class="form-control" id="material-tab" name="carbon-properties">
                    	<option selected>Specify | Specify the Carbon Equivalent</option>
                    	<option>         Element | Calculate the Carbon Equivalent </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Carbon equivalent</label>
                <div class="col-xs-5">
                    <input type="text" value="0.4" class="form-control" name="carbon" />
                </div>
            </div>
            <div class="tab-pane" id="hottap-tab">
        		<div class="form-group">
        		 <h2> <em>Run Pipe Geometry</em></h2>
        		 <p>
        		 </p>
                <label class="col-xs-3 control-label">Model type</label>
                <div class="col-xs-5">
                    <select class="form-control" id="hottap-tab" name="model-properties">
                    	<option selected>1 | Field weld (split tee)</option>
                    	<option>         2 | Pipe grove weld (branch)</option>
                    	<option>		 3 | Weldolet groove weld</option>
                    	<option>		 4 | Weld bead on plate, bead modeled </option>
                    	<option>		 5 | Weld bead on plate, bead not modeled</option>
                    </select>
                </div>
            </div>
	</div>  
	</form>  

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>


    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="/static/hello/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/hello/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/hello/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/hello/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/hello/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/hello/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/hello/js/demo.js"></script>


</html>
