<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amandas Blog</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/blog/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/blog/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/blog/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1954884/" target="_blank">EXPLORE YOUR OPTIONS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#treatment">Treatment</a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#topproviders">Top Providers</a>
                    </li>	
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><strong>Living with Gastroparesis</strong></h1>
                <hr>
                <p><strong>Gastroparesis, also called delayed gastric emptying, is a medical condition consisting of a paresis (partial paralysis) of the stomach, resulting in food remaining in the stomach for an abnormally long time. Normally, the stomach contracts to move food down into the small intestine for additional digestion. The vagus nerve controls these contractions. Gastroparesis may occur when the vagus nerve is damaged and the muscles of the stomach and intestines do not properly function. Food then moves slowly or stops moving through the digestive tract.</strong></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Click to learn more!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><strong>Gastroparesis Facts!</strong></h2>
                    <hr class="light">
                    <p class="text-faded-big"><strong>What causes gastroparesis?</strong></p>
                    <p class="text-faded">Most people diagnosed with gastroparesis have idiopathic gastroparesis, which means a health care provider cannot identify the cause, even with medical tests. Diabetes is the most common known cause of gastroparesis. People with diabetes have high levels of blood glucose, also called blood sugar. Over time, high blood glucose levels can damage the vagus nerve. Other identifiable causes of gastroparesis include intestinal surgery and nervous system diseases such as Parkinson’s disease or multiple sclerosis. For reasons that are still unclear, gastroparesis is more commonly found in women than in men.</p>
                    <p class="text-faded-big"><strong>What are the symptoms of gastroparesis?</strong></p>
                    <p class="text-faded">Heartburn or GERD, Nausea,Vomiting undigested food, Feeling full quickly when eating, Abdominal bloating, Poor appetite and weight loss, Poor blood sugar control.</p>
                    <a href="#treatment" class="btn btn-default btn-xl page-scroll">View your treatment options!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="treatment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><strong>Treatment Options</strong></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flask wow bounceIn text-primary"></i>
                        <h3><a href="http://www.aboutgastroparesis.org/treatments/medications"target="_blank">Medications</a></h3>
                        <p class="text-muted">Some patients may benefit from medication. However, medication can not cure your gastroparesis, it can help manage your symptoms.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3><a href="http://gicare.com/diets/gastroparesis-diet/"target="_blank">Modified Diet</a></h3>
                        <p class="text-muted">You should also avoid foods that are high in fat (which can slow down digestion) and fiber (which is difficult to digest).</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bomb wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3><a href="https://www.g-pact.org/gastroparesis/nutrition/feeding-tubes/g_j-tubes"target="_blank">Nutritional Support</a></h3>
                        <p class="text-muted">In a severe case of gastroparesis, a feeding tube, or jejunostomy tube, may be used. The tube is inserted through the abdomen and into the small intestine during surgery.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-down wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3><a href="http://www.aboutgastroparesis.org/treatments/procedures"target="_blank">Surgical Options</a></h3>
                        <p class="text-muted">When a patient has severe gastroparesis and they do not react to any other treatment options, surgery may be considered. The current surgical options are:Gastric Stimulator, Pyloroplasty and Partial Gastrectomy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="topproviders">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://my.clevelandclinic.org/"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/ccf.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded-big">
                                    Cleveland, Ohio
                                </div>
                                <div class="project-name">
                                    Cleveland Clinic
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.hopkinsmedicine.org/"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/jh.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content"> 
                                <div class="project-category text-faded-big">
                                    Baltimore, Maryland
                                </div>
                                <div class="project-name">
                                    Johns Hopkins
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.mayoclinic.org/"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded-big">
                                    Rochester, Minnesota
                                </div>
                                <div class="project-name">
                                    Mayo Clinic
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.massgeneral.org/"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded-big">
                                    Boston, Massachusetts
                                </div>
                                <div class="project-name">
                                    Massachusetts General Hospital
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://digestive.templehealth.org/content/default.htm"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded-big">
                                    Philadelphia, Pennsylvania
                                </div>
                                <div class="project-name">
                                    Temple Digestive Disease Center
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.kentuckyonehealth.org/jewishhospital"target="_blank" class="portfolio-box">
                        <img src="/static/blog/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded-big">
                                    Louisville, Kentucky
                                </div>
                                <div class="project-name">
                                    KentuckyOne Health: Jewish Hospital
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2><strong>Join a gastroparesis support group!</strong></h2>
                <a href="https://www.g-pact.org/"target="_blank" class="btn btn-default btn-xl wow tada">Join Today!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><strong>Contact Information</strong></h2>
                    <hr class="primary">
                    <p>Want to know more about gastroparesis? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><strong>216-658-2269</strong></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:abohrer@equityeng.com"><strong>abohrer@equityeng.com</strong></a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/blog/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/blog/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/blog/js/jquery.easing.min.js"></script>
    <script src="/static/blog/js/jquery.fittext.js"></script>
    <script src="/static/blog/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/blog/js/creative.js"></script>

</body>

</html>
