h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
<a href="http://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">

body {
    padding-left: 15px;
}

<div class="page-header">
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

<div class="post">
    <p>published: {{ post.published_date }}</p>
    <h1><a href="">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaks }}</p>
</div>
